<div class="header_top">
    <div class="logo-container">
        <img src="./assets/img/TALA_LOGO.png" alt="Logo" class="logo">
    </div>
    <div>
        <a href="">TUẤN ÂN GROUP</a>
    </div>
</div>
<div class="header_bot">
    <div class="tab_btn">
        <a href="">Home</a>
    </div>
    <div class="tab_btn">
        <a href="#">BP KINH DOANH</a>
    </div>
    <div class="tab_btn">
        <a href="#">BP KẾ HOẠCH</a>
    </div>
    <div class="tab_btn">
        <a href="#">BP KẾ TOÁN</a>
    </div>
    <div class="tab_btn">
        <a href="#">BP KHO</a>
    </div>
</div>