body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: margin-left 0.5s; /* Smooth transition */
}

.MENU {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 400px; 
    height: 100%; 
    border: none;
    " onmouseover="document.body.classList.add('menu-hovered');
    " onmouseout="document.body.classList.remove('menu-hovered');
}